body {
    margin: 0px;
    /* position: relative; */
    background-image: linear-gradient(to right, #53694F 0%, #53694F 50%, #A38262 50%, #A38262 100%);
    min-height: 100vh;
}

/* .color video { 
    width: 100%;
    height: auto;
    position: fixed;
    z-index: -1;
    
}


.nav .nav-container { 
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    gap: 200px;

}


 .nav-container { 
    display: flex;

}
*/
.ul-list {
    display: flex;
    gap: 49px;
    list-style: none;
    left: 40px;
    position: relative;
}

.list {
    text-decoration: none;
    color: white;
    font-family: Haas Grot Text R Web, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: lighter;
}

/* .nav-logo { 


}

.nav {
  display: flex;
  gap: 900px;
  padding: 20px;
  align-items: center;
}
*/

.container {
    padding: 20px;
}

.container-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: white 1px solid;

}

a,
a:hover {
    text-decoration: none;
}

.search {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 57px;
}

.searchText {
    width: 1px;
    border-radius: 65px;
    border: none;
    outline: none;
    transition: all 0.2s linear;

}

.searchBtn {
    width: 35px;
    height: 35px;
    background-color: #53694F;
    color: #c5f1bd79;
    position: absolute;
    right: -3px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    outline-style: solid;
    text-decoration: none;
}

/* .search:hover > .searchText {
    width: 200px;
    padding: 10px;
    box-shadow: 0 2rem 2rem -1rem rgba(0, 0, 0, 0.39);
}
 */
.search:hover>.searchBtn {
    background-color: white;
    color: #53694F;
    outline-style: none;
}

.title {
    color: white;
}

.ul-lists {
    display: flex;
    gap: 50px;
    list-style: none;
    position: relative;
    left: 101px;

}

.lists {
    text-decoration: none;
    color: white;
    font-family: Haas Grot Text R Web, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: lighter;
}

img {
    height: 200px;
}

.profile-pic-div {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 55px;
    right: 72px;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border: 1px solid grey;
    outline-style: solid;
    color: #f7be86;
    border-radius: 100px;
}

#photo {
    height: 100%;
    width: 100%;
}

#file {
    display: none;
}

.shop {
    height: 35px;
    width: 35px;
    position: relative;
    top: 19px;
    left: 5px;
}

.btn {
    background-color: #E9D6F8;
    color: #6504af;
    height: 35px;
    width: 35px;
    overflow: hidden;
    transform: translate(-50%, -50%);
    border: 1px solid grey;
    border-radius: 100px;
}

h1 {
    font-family: serif;
    font-weight: lighter;
    position: relative;
    right: -85px;
}

.para {
    color: #ffffff;
    position: absolute;
    left: 1270px;
    font-family: monospace;
    top: 82px;
}

.Bold-word {
    color: white;
    font-family: serif;
    font-style: normal;
    font-size: 32px;
    position: absolute;
    left: 90px;
}

.para-two {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: lighter;
    line-height: 20px;
    position: absolute;
    left: 90px;
    top: 208px;
}

.catalog-btn {
    position: absolute;
    top: 321px;
    left: 89px;
}

.view-catalog {
    background-color: #b397e0;
    color: #53694F;
    border: none;
    border-radius: 10px;
    padding: 15px;
    min-height: 30px;
    min-width: 120px;
    font-family: monospace;
    font-weight: 900;

}

.view-catalog:hover {
    background-color: #6f39c7;
    transition: 0.7s;
    border-radius: 8px;
    color: #b397e0;
    outline-style: solid;
}

.left {
    position: relative;
    left: -72px;
    top: 54px;
}

.right {
    position: absolute;
    right: -3px;
    top: 242px;

}

.left-arrow {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -45px;
    left: 10px;
}

.left-arrow-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 17px;
    height: 30px;
    width: 30px;
    border: 1px solid white;
    color: white;
    background-color: #A38262;
    outline-style: none;
}

.left-arrow-btn:hover {
    background-color: #b397e0;
    font-weight: bolder;
}

.right-arrow {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -45px;
    left: 52px;

}

.right-arrow-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 17px;
    height: 30px;
    width: 30px;
    border: 1px solid white;
    color: white;
    background-color: #A38262;
    outline-style: none;
}

.right-arrow-btn:hover {
    background-color: #b397e0;
    font-weight: bolder;
}

.dates {
    position: absolute;
    top: -63px;
    left: 115px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.big {
    font-size: 30px;
}

.random {
    position: relative;
    left: 5px;
    top: -10px;
}

.points {
    position: relative;
    left: 3px;
    top: -28px;
}

.dress-img {
    color: white;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.footer {
    position: absolute;
    bottom: 4px;
}

.left-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5d6c4; 
}

.footer-font {
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
}

.right-footer {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.right-footer-container{
    color: #e5d6c4;

}